.ButtonPay{
    border: 1px solid #1ba0e2;
    padding: 10px 30px;
    background: #1ba0e2;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.ButtonContinue{
    margin-top: 10px;
    border: 1px solid #1ba0e2;
    padding: 10px 30px;
    color: #1ba0e2;
    background-color: transparent;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}